h1,
p {
  font-family: Lato;
}

.header {
  padding: 1%;
  display: inline-block;
  width: 99%;
  background-color: #8ee22eab;
  margin: auto;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.header > h1:nth-child(2) {
  float: right;
}
.header > h1:nth-child(1) {
  text-align: center;
}

.meme-creator {
  width: 90%;
  margin: auto;
  position: relative;
}

.meme-creator img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  position: relative;
}

.meme-creator > h1 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme-creator .topText {
  top: 0;
}

.meme-creator .bottomText {
  bottom: 0;
}
.meme-input {
  width: 90%;
  display: flex;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.meme-input > input {
  width: 45%;
  height: 40px;
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}

.download-btn {
  display: inline-block;
  margin-left: 46%;
  margin-top: 10px;
  height: 40px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 5px rgba(33, 80, 87, 0.74);
  font-family: Lato;
}

.download-btn:hover{
  background-color: rgb(187, 156, 156);
  color: blue;
  border-radius: 0px;
  border: 5px rgba(33, 80, 87, 0.74);
}

